Forecast for {{city}}
<hr>
Days: <a href="#/forecast/3" ng-class="{'bg-primary': days == 3}">3</a> | <a href="#/forecast/7" ng-class="{'bg-primary': days == 7}">7</a> | <a href="#/forecast/15" ng-class="{'bg-primary': days == 15}">15</a>
<hr>
<div ng-repeat="w in weatherResult.list">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{convertToDate(w.dt) | date : 'MMM d, y'}}</h3>
        </div>
        <div class="panel-body">
          Daytime temperature: <span ng-if="tempScale.scale === 'F'">{{convertToFahrenheit(w.temp.day)}}°F</span>
          <span ng-if="tempScale.scale === 'C'">{{convertToCelsius(w.temp.day)}}°C</span>
          <!--<div ng-switch on="tempScale.scale">
            <span ng-switch-when="F">{{convertToFahrenheit(w.main.temp)}}°F</span>
            <span ng-switch-when="C">{{convertToCelsius(w.main.temp)}}°C</span>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>